* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.5rem;
}

.top-container, #top-container {
    background: #121212;
    border: 10px;
    color: #fefefe;
    height: 200px;
    margin: 0;
    padding: 20px;
    width: 200px;
    }
    
    .middle-container, #middle-container {
    background: red;
    border: 20px solid black;
    margin: 0 0 0 240px;
    width: 200px;
    height: 200px;
    }
    
    .bottom-container, #bottom-container {
    background: blue;
    border: 10px solid black;
    margin: 0 0 0 480px;
    width: 200px;
    height: 200px;
    }

